/*
  flex 样式
*/

.flex
  display flex

.flex-row
  flex-direction row
.flex-column
  flex-direction column

.flex-warp
  flex-wrap wrap
.flex-nowrap
  flex-wrap nowrap

.justify-between
  justify-content space-between
.justify-start
  justify-content flex-start
.justify-end
  justify-content flex-end

.align-items-center
  align-items center
.align-items-start
  align-items flex-start
.align-items-end
  align-items flex-end