@import './variable.styl'
@import './flex.styl'
@import './scroll.styl'
@import './text.styl'

// 目前在styl里直接处理变量好像不如scss方便，暂时直接用导入的方式获得变量
// 可能会用到的链接🔗 https://medium.com/qbits/sharing-variables-between-stylus-and-react-324bf3b43f33

// 目前设计出的图里，还没有涉及到其他色系，但是先考虑到更改系统配色。

.test-color-primary
  // color $primaryColor
  background $primaryColor
  