@import './variable.styl'
@import './flex.styl'
@import './scroll.styl'
@import './text.styl'
// @import './button.styl' button样式太少，直接用主题样式控制

.box-shadow-ccc
  box-shadow: 0px 0px $border-radius-base #ccc
