/*
  文字样式
*/

// 超出显示点
.text-ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

// 鼠标变小手
.pointer
  cursor pointer

// font-weight
.font-weight-500
  font-weight 500
.font-weight-400
  font-weight 400

// font-color
.font-color-333333
  color #333333

// font-size
.font-size-14
  font-size 14px // 默认就是14
.font-size-16
  font-size 16px